<h2 class="page-header">Supplier: <%= supplier.supplier %> </h2>
<div>
docType: <%= supplier.docType %>
<br>
supStatus: <%= supplier.supStatus %>
<br>
createdBy: <%= supplier.createdBy %>
</div>
<div class="btn-row">
    <a class="btn btn-primary" href="/suppliers/<%= supplier.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/suppliers/${supplier.id}` }) %>
</div>