<h2 class="page-header">Latest Products</h2>
<form action="/" method="GET">
    <div class="form-row">
        <div class="form-item"></div>
        <div class="form-item">
            <label>SKU (internal code)</label>
            <input type="number" name="sku" value="<%= searchOptions.sku %>">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<% products.forEach( product => { %> 
    <div class="viewTable category-name">
        <div><%= product.sku %></div>
        <div><a href="/products/<%= product.id %>"><b><%= product.product %></b></a></div>
        <div><%= new Intl.NumberFormat('en-US',  { style: 'currency', currency: 'USD' }).format(product.price) %></div>
        <div><%= product.category.category %></div>
    </div>
<% }) %> 


