<label>Category</label>
<input type="text" name="category" value="<%= category.category %>">
<br>
<label>c_ClaveProdServ</label>
<input type="text" name="c_ClaveProdServ" value="<%= category.c_ClaveProdServ %>">
<br>
<label>docType</label>
<input type="text" name="docType" value="<%= category.docType %>">
<br>
<label>catStatus</label>
<input type="text" name="status" value="<%= category.catStatus %>">
<br>
<label>createdBy</label>
<input type="text" name="createdBy" value="<%= category.createdBy %>">
<br>
