<h2>Categories</h2>
<br>
<% categories.forEach( category => { %> 
    <div><%= category.category %></div>
    <div><%= category.c_ClaveProdServ %> </div>
    <a href="/categories/<%= category.id %>">View</a>
    <a href="/categories/<%= category.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/categories/${category.id}` }) %>
<% }) %> 