<div class="form-row form-row-end">
    <a class="btn btn-primary"  href="/products/new">Add product</a>
</div>
<form action="/products" method="GET">
    <div class="form-row form-row-end">
        <div class="form-item"></div>
        <div class="form-item">
            <label>SKU (internal code)</label>
            <input type="number" name="sku" value="<%= searchOptions.sku %>">
        </div>
        <div class="form-item">
            <label>Product</label>
            <input type="text" name="product" value="<%= searchOptions.product %>">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<h2 class="page-header">Products</h2>
<% products.forEach( product => { %> 
    <div class="viewTable5 category-name"><b><%= product.sku %></b>
        <div><a href="/products/<%= product.id %>"><b><%= product.product %></b></a></div>
        <div><%= new Intl.NumberFormat('en-US',  { style: 'currency', currency: 'USD' }).format(product.price) %></div>
        <div><%= product.category.category %></div>
        <div><%= product.supplier.supplier %></div>
    </div>
<% }) %> 