<h2>Products</h2>
<br>
<form action="/products" method="GET">
    <label>Product</label>
    <input type="text" name="product" value="<%= searchOptions.product %>">
    <button type="submit">Search</button>
</form>
<br>
<% products.forEach( product => { %> 
    <div><b><%= product.product %></b></div>
    <div><%= product.price %></div>
    <div><%= product.category %></div>
    <div><%= product.productImage %></div>
    <br>
<% }) %> 