<h2 class="page-header">Products</h2>
<a href="/products/new">Add product</a>
<br>
<form action="/products" method="GET">
    <div>
        <label>SKU (internal code)</label>
        <input type="number" name="sku" value="<%= searchOptions.sku %>">
    </div>
    <div>
        <label>Product</label>
        <input type="text" name="product" value="<%= searchOptions.product %>">
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>
<br>
<% products.forEach( product => { %> 
    <div><b><%= product.sku %></b></div>
    <div><a href="/products/<%= product.id %>"><b><%= product.product %></b></a></div>
    <div><%= product.price %></div>
    <div><%= product.category.category %></div>
    <div><%= product.supplier.supplier %></div>
    <% if (product.productImageFile != null && product.productImageFile !== '') { %>
        <div>
        <a href="/products/<%= product.id %>">
        <img height="150" width="100" src="<%= product.productImageFile %>">
        </a></div>
    <% } %>
    
<% }) %> 