<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href="/products/<%= product.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/products/${product.id}` }) %>
</div>

<h2 class="page-header"><%= product.sku %> - <%= product.product %> </h2>
<div>
price: <%= new Intl.NumberFormat('en-US',  { style: 'currency', currency: 'USD' }).format(product.price) %>
<br>
suplier: <%= product.supplier.supplier %>
<br>
category: <%= product.category.category %>
<br>
<div class="product-details-label-description">comments: <%= product.comments %></div>
</div>

<% if (product.productImageFile != null && product.productImageFile !== '') { %>
    <div><img height="150" width="100" src="<%= product.productImageFile %>"></div>
<% } %>
